
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #dededf;
}

#main {
    margin: 0 auto;
    background-color: #dededf;
    width: 100%;
    height: 100%;
}

